#navbar{
  background: black;
}
.nav-link{
  color: white;
}
.nav-link:hover{
  background-color: white;
  color: black;
}

.navbar-brand{
  color: white;
}
nav a{
  text-decoration: none;

}
li{
  list-style: none;
}